<section id="homepage-hero">

  <div class="row">
    <div class="small-12 small-centered text-center medium-8 large-6 columns">
      <h1 class="gotham-bold">Ticket<span class="gotham-regular">Finders</span></h1><br>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered text-center medium-7 large-6 columns">
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix custom-prefix">
            <i class="fi-magnifying-glass"></i>
          </span>
        </div>
        <div class="small-11 columns">
          <input type="text" class="hero-input" placeholder="Search for an artist, team or city">
        </div>
        </div>
      </div>
  </div>

</section>

<section class="categories-bg">

  <div class="row">
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
           <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("SportBlue.svg") %></span>
          <span><%= embedded_svg("SportGrey.svg") %></span>
        </p>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("TheaterBlue.svg") %></span>
          <span><%= embedded_svg("TheaterGrey.svg") %></span>
        </p>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("OperaBlue.svg") %></span>
          <span><%= embedded_svg("OperaGrey.svg") %></span>
        </p>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("ConcertsBlue.svg") %></span>
          <span><%= embedded_svg("ConcertsGrey.svg") %></span>
        </p>
      </div>
    </div>
  </div>

</section>

<div class="row">
  <div class="small-12 columns">&nbsp;</div>
</div>

<div class="row">
  <h5><div class="small-12 columns headline">Sports</div></h5>
</div>
<div class="row">
  <div class="small-12 medium-9 columns greyed">
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= image_tag(@sports[0].avatar.url) %>
      </div>
      <div class="small-12 medium-6 columns">
        <h5 class="gotham-bold"><%= @sports[0].name %></h5>
        <p>
          <%= nice_time(@sports[0].start_time) %><br />
          <%= @sports[0].venue.name %><br />
          Tickets available: <%= @sports[0].tickets.sum(:quantity) %><br />
          Starting at: <%= @sports[0].tickets.minimum(:price) %>
        </p>
      </div>
    </div>
  </div>
  <div class="small-12 medium-3 columns greyed">
    <%= image_tag(@sports[1].avatar.tiny.url) %><br />
    <%= @sports[1].name %><br />
    <%= nice_time(@sports[1].start_time) %><br />
    <%= @sports[1].venue.name %>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-3 columns greyed">
    <%= image_tag(@sports[3].avatar.tiny.url) %><br />
    <%= @sports[3].name %><br />
    <%= nice_time(@sports[3].start_time) %><br />
    <%= @sports[3].venue.name %>
  </div>
  <div class="small-12 medium-3 columns greyed">
    <%= image_tag(@sports[4].avatar.tiny.url) %><br />
    <%= @sports[4].name %><br />
    <%= nice_time(@sports[4].start_time) %><br />
    <%= @sports[4].venue.name %>
  </div>
  <div class="small-12 medium-3 columns greyed">
    <%= image_tag(@sports[5].avatar.tiny.url) %><br />
    <%= @sports[5].name %><br />
    <%= nice_time(@sports[5].start_time) %><br />
    <%= @sports[5].venue.name %>
  </div>
  <div class="small-12 medium-3 columns greyed">
    <%= image_tag(@sports[2].avatar.tiny.url) %><br />
    <%= @sports[2].name %><br />
    <%= nice_time(@sports[2].start_time) %><br />
    <%= @sports[2].venue.name %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns spacer">&nbsp;</div>
</div>

<div class="row">
  <h5><div class="small-12 columns headline">Music</div></h5>
</div>

<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-4">
    <li><%= image_tag(@sports[2].avatar.tiny.url) %></li>
    <li><%= image_tag(@sports[2].avatar.tiny.url) %></li>
    <li><%= image_tag(@sports[2].avatar.tiny.url) %></li>
    <li><%= image_tag(@sports[2].avatar.tiny.url) %></li>
  </ul>
</div>

