<section id="homepage-hero">

  <div class="row">
    <div class="small-12 small-centered text-center medium-8 large-6 columns">
      <h1 class="gotham-bold">Ticket<span class="gotham-regular">Finders</span></h1><br>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered text-center medium-7 large-6 columns">
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix custom-prefix">
            <i class="fi-magnifying-glass"></i>
          </span>
        </div>
        <div class="small-11 columns">
          <input type="text" class="hero-input" placeholder="Search for an artist, team or city">
        </div>
        </div>
      </div>
  </div>

</section>

<section class="categories-bg">

  <div class="row">
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
           <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("SportBlue.svg") %></span>
          <span><%= embedded_svg("SportGrey.svg") %></span>
        </p>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("TheaterBlue.svg") %></span>
          <span><%= embedded_svg("TheaterGrey.svg") %></span>
        </p>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("OperaBlue.svg") %></span>
          <span><%= embedded_svg("OperaGrey.svg") %></span>
        </p>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <p class="change-icon">
          <span><%= embedded_svg("ConcertsBlue.svg") %></span>
          <span><%= embedded_svg("ConcertsGrey.svg") %></span>
        </p>
      </div>
    </div>
  </div>

</section>

<div class="row">
  <div class="small-12 columns spacer">&nbsp;</div>
</div>

<div class="row">
  <h5><div class="small-12 columns headline">Sports</div></h5>
</div>

<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 text-center">
    <li>
      <%= image_tag(@sports[0].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= @sports[0].name %><br />
          <%= @sports[0].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@sports[1].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= @sports[1].name %><br />
          <%= @sports[1].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@sports[2].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= @sports[2].name %><br />
          <%= @sports[2].venue.name %>
        </p>
      </span>
    </li>
  </ul>
</div>

<div class="row">
  <div class="small-12 columns spacer">&nbsp;</div>
</div>

<div class="row">
  <h5><div class="small-12 columns headline">Music</div></h5>
</div>

<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 text-center">
    <li>
      <%= image_tag(@music[0].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= @music[0].name %><br />
          <%= @music[0].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@music[1].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= @music[1].name %><br />
          <%= @music[1].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@music[2].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= @music[2].name %><br />
          <%= @music[2].venue.name %>
        </p>
      </span>
    </li>
  </ul>
</div>
