<section id="homepage-hero">

  <div class="row">
    <div class="small-12 small-centered text-center medium-8 large-6 columns">
      <span class="hide-for-touch">
        <h1 class="gotham-regular">Ticket<span class="gotham-light">Finders</span></h1><br>
      </span>
      <span class="show-for-touch">
        <h2 class="gotham-regular">Ticket<span class="gotham-light">Finders</span></h2><br>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered text-center medium-7 large-6 columns">
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix custom-prefix">
            <i class="fi-magnifying-glass"></i>
          </span>
        </div>
        <div class="small-11 columns">
          <%= form_tag events_path, method: :get do  %>
            <%= text_field_tag :query, params[:query], :placeholder => "Search for an artist, team or city", class: "hero-input" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="categories-bg">

  <div class="row">
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
           <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to static_sport_path do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("SportBlue.svg") %></span>
            <span><%= embedded_svg("SportGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("SportBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to category_path(Category.where(description: "Theater").ids) do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("TheaterBlue.svg") %></span>
            <span><%= embedded_svg("TheaterGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("TheaterBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to category_path(Category.where(description: "Opera").ids) do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("OperaBlue.svg") %></span>
            <span><%= embedded_svg("OperaGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("OperaBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to category_path(Category.where(description: "Concerts").ids) do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("ConcertsBlue.svg") %></span>
            <span><%= embedded_svg("ConcertsGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("ConcertsBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>

</section>

<div class="row">
  <div class="small-12 columns spacer">&nbsp;</div>
</div>

<div class="row">
  <h5><div class="small-12 columns headline">Sports</div></h5>
</div>

<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 text-center">
    <li>
      <%= image_tag(@sports[0].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= link_to "#{@sports[0].name}", event_path(@sports[0]), data: { no_turbolink: true }, class: "event-link" %><br />
          <%= @sports[0].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@sports[1].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= link_to "#{@sports[1].name}", event_path(@sports[1]), data: { no_turbolink: true }, class: "event-link" %><br />
          <%= @sports[1].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@sports[2].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= link_to "#{@sports[2].name}", event_path(@sports[2]), data: { no_turbolink: true }, class: "event-link" %><br />
          <%= @sports[2].venue.name %>
        </p>
      </span>
    </li>
  </ul>
</div>

<div class="row">
  <div class="small-12 columns spacer">&nbsp;</div>
</div>

<div class="row">
  <h5><div class="small-12 columns headline">Music</div></h5>
</div>

<div class="row">
  <ul class="small-block-grid-1 medium-block-grid-3 text-center">
    <li>
      <%= image_tag(@music[0].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= link_to "#{@music[0].name}", event_path(@music[0]), data: { no_turbolink: true }, class: "event-link" %><br />
          <%= @music[0].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@music[1].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= link_to "#{@music[1].name}", event_path(@music[1]), data: { no_turbolink: true }, class: "event-link" %><br />
          <%= @music[1].venue.name %>
        </p>
      </span>
    </li>
    <li>
      <%= image_tag(@music[2].avatar.url) %>
      <span class="medium-text-left">
        <p class="gotham-regular blue">
          <%= link_to "#{@music[2].name}", event_path(@music[2]), data: { no_turbolink: true }, class: "event-link" %><br />
          <%= @music[2].venue.name %>
        </p>
      </span>
    </li>
  </ul>
</div>
