<section id="homepage-hero">

  <div class="row">
    <div class="small-12 small-centered text-center medium-8 large-6 columns">
      <span class="hide-for-touch">
        <h1 class="gotham-regular">Ticket<span class="gotham-light">Finders</span></h1><br>
      </span>
      <span class="show-for-touch">
        <h2 class="gotham-regular">Ticket<span class="gotham-light">Finders</span></h2><br>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered text-center medium-7 large-6 columns">
      <div class="row collapse">
        <div class="small-1 columns">
          <span class="prefix custom-prefix">
            <i class="fi-magnifying-glass"></i>
          </span>
        </div>
        <div class="small-11 columns">
          <%= form_tag events_path, method: :get do  %>
            <%= text_field_tag :query, params[:query], :placeholder => "Search for an artist, team or city", class: "hero-input" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section> <!-- -->

<section class="categories-bg"><!-- -->

  <div class="row">
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
           <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to static_sport_path do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("SportBlue.svg") %></span>
            <span><%= embedded_svg("SportGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("SportBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to category_path(Category.where(description: "Theater").ids) do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("TheaterBlue.svg") %></span>
            <span><%= embedded_svg("TheaterGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("TheaterBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to category_path(Category.where(description: "Opera").ids) do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("OperaBlue.svg") %></span>
            <span><%= embedded_svg("OperaGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("OperaBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
    <div class="small-6 medium-6 large-3 columns tiles">
      <div class="inner-tile">
        <div class="row">
          <div class="small-12 columns">&nbsp;</div>
        </div>
        <%= link_to category_path(Category.where(description: "Concerts").ids) do %>
          <p class="change-icon hide-for-touch">
            <span><%= embedded_svg("ConcertsBlue.svg") %></span>
            <span><%= embedded_svg("ConcertsGrey.svg") %></span>
          </p>
          <p class="show-for-touch">
            <span><%= embedded_svg("ConcertsBlue.svg") %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>

</section>

<div class="row">
    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="gutter-sizer"></div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(2).avatar.grid_small.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(5).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Player.find(1).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_large.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_small.url %>
      </div>
      <div class="grid-item">
        <%= image_tag Competition.find(6).avatar.grid_small.url %>
      </div>
    </div>
</div>

<script>
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: '.grid-sizer',
    gutter: '.gutter-sizer'
  });
  // layout Isotope after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry();
  });
</script>

<script src='/assets/masonry.min.js'></script>
<script src='/assets/imagesLoaded.min.js'></script>
