<h1>Listing Events</h1>

<%= link_to 'New event', new_event_path %> | <%= link_to 'Admin Home', controller: 'welcome' %>

<table>
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Venue</th>
    <th>Category</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.start_time %></td>
      <td><%= event.end_time %></td>
      <td><%= event.venue_id %></td>
      <td><%= event.category_id %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
