<section class="grey-bg">
  <div class="row">
    <div class="small-10 small-centered columns">
      <div class="row">
        <div class="progress">
          <span class="meter" style="width:75%"></span>
        </div>
      </div>
      <div class="row">
        <p class="fineprint">Note: While on this page these tickets will be held for you, once you navigate away we will release your tickets for others to buy.</p>
      </div>
      <div class="row">
        <div class="small-3 columns no-pad">
          <%= @event.name %>
        </div>
        <div class="small-9 text-left columns" style="padding-left: 0;">
          <ul class="social-list-container">
            <li class="social-list-icon"><%= @event.name %></li>
            <li class="social-list-icon"><%= @event.venue.name %></li>
            <li class="social-list-icon"><%= nice_time(@event.start_time) %></li>
          </ul>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="small-12 medium-6 columns white-bg">
          <div class="row">
            <div class="small-6 columns">
              <ul class="social-list-container">
                <li class="social-list-icon ticket-text"><strong>Category:</strong></li>
                <li class="social-list-icon ticket-text"><strong>Ticket Price:</strong></li>
                <li class="social-list-icon ticket-text"><strong>Service Fee:</strong></li>
                <li class="social-list-icon ticket-text" style="color: #2C9DDF;"><strong>Sub Total:</strong></li>
              </ul>
            </div>
            <div class="small-6 columns">
              <ul class="social-list-container">
                <li class="social-list-icon ticket-text"><%= @ticket.category %></li>
                <li class="social-list-icon ticket-text"><%= number_to_currency(@ticket.price) %></li>
                <li class="social-list-icon ticket-text"><%= number_to_currency(4) %></li>
                <li class="social-list-icon ticket-text" style="color: #2C9DDF;"><%= number_to_currency(@ticket.price + 4.0) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
