<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@competition.category_id).description %>
</p>

<p style="word-wrap: break-word;">
  <strong>Text:</strong>
  <%= @competition.text %>
</p>

<%= link_to 'Edit', edit_admin_competition_path(@competition) %> |
<%= link_to 'Back', admin_competitions_path %>
