<!DOCTYPE html>
<html>
<head>
  <title>TF Admin</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="header-container">
  <div class="logo">
    <span class="bold">Ticket</span><span class="light">Finders</span><span class="medium"> > </span><span class="light">Admin</span>
  </div>
  <div class="homelink">
    <%= link_to 'Home', controller: 'welcome' %>
    </div>
</div>

<% flash.each do |key, value| %>
    <div class="flash flash-<%= key %>"><%= value %></div>
<% end %>
<br />

<%= yield %>

</body>
</html>
