<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      TicketFinders | Tickets for Concerts, Sports, Opera, Theater, West End shows, Family events, Hospitality
    </title>
    <%= if content_for?(:gon) then yield(:gon) end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <!-- added as solution to sticky footer (see css classes in application.css) -->
    <div id="wrap">
    <div id="main" class="container clear-top">
  <!-- -->

  <!-- Top Bar -->
  <div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
        <%= link_to(root_url) do %>
          <h1 class="show-for-small-up hide-for-large-up" style="padding-left: 10px;"><%= image_tag("logo_icon.svg", width: '47', height: '47') %></h1>
          <h1 class="show-for-large-up"><%= image_tag("logo.svg", width: '340', height: '340') %></h1>
        <% end %>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span></span></a>
        </li>
      </ul>
      <section class="top-bar-section">
      <ul class="right">
      <!-- Search bar -->
        <li class="has-form">
          <div class="row collapse">
            <div class="large-12 small-12 columns">
              <%= form_tag events_path, method: :get do  %>
                <%= text_field_tag :query, params[:query], :placeholder => "Search" %>
              <% end %>
            </div>
          </div>
        </li>
        <!-- / Search bar -->
        <li><a href="#">HELP</a></li>
        <li><%= link_to 'CATEGORIES', categories_path %></li>
      </ul>
      </section>
    </nav>
  </div>
  <!-- / Top Bar -->

  <%= yield %>

  <div class="row">
    &nbsp;
  </div>

  <!-- closing of divs for sticky footer solution -->
    </div>
    </div>
  <!-- -->

  <!-- Footer -->
  <footer class="footer">
    <div class="row full-width">
      <div class="small-12 medium-3 columns">
        <p><%= image_tag("doicon.png", :style => "max-width: 100px;") %></p>
        <p><%= image_tag("https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png", :style => "max-width: 100px;") %></p>
      </div>
      <div class="small-12 medium-3 columns">
        <span class="gotham-regular trademark">Copyright &copy; 2016<br />TicketFinders &trade; Inc.</span>
      </div>
      <div class="show-for-small-only">&nbsp;</div>
      <hr class="show-for-small-only" />
      <div class="small-6 medium-3 columns">
          <h5 class="gotham-regular"><%= link_to 'Terms', static_terms_path %></h5>
          <h5 class="gotham-regular"><%= link_to 'Contact', new_message_path, data: { no_turbolink: true } %></h5>
          <h5 class="gotham-regular"><a href="#">FAQ's</a></h5>
      </div>
      <div class="small-6 medium-3 columns">
        <h5><a href="#"><i class="fi-social-facebook small-icon"></i></a></h5>
        <h5><a href="#"><i class="fi-social-twitter small-icon"></i></a></h5>
        <h5><a href="#"><i class="fi-social-skype small-icon"></i></a></h5>
      </div>
    </div>
  </footer>

  </body>
</html>
