<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      TicketFinders
    </title>
    <%= if content_for?(:gon) then yield(:gon) end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <!-- Top Bar -->
  <div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
        <%= link_to(root_url) do %>
          <h1 class="show-for-small-up hide-for-large-up" style="padding-left: 10px;"><%= image_tag("logo_icon.svg", width: '47', height: '47') %></h1>
          <h1 class="show-for-large-up"><%= image_tag("logo.svg", width: '340', height: '340') %></h1>
        <% end %>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span></span></a>
        </li>
      </ul>
      <section class="top-bar-section">
      <ul class="right">
      <!-- Search bar -->
        <li class="has-form">
          <div class="row collapse">
            <div class="large-12 small-12 columns">
              <%= form_tag events_path, method: :get do  %>
                <%= text_field_tag :query, params[:query], :placeholder => "Search" %>
              <% end %>
            </div>
          </div>
        </li>
        <!-- / Search bar -->
        <li><a href="#">HELP</a></li>
        <li><%= link_to 'CATEGORIES', categories_path %></li>
      </ul>
      </section>
    </nav>
  </div>
  <!-- / Top Bar -->

  <%= yield %>

  <!-- Footer -->
  <footer class="footer">
    <div class="row full-width">
      <div class="small-12 medium-3 large-4 columns">
        <i class="fi-ticket big"></i>
        <p class="gotham-regular">TicketFinders has been providing unforgettable experiences to events all around the world since 1980. With offices on 2 continents, we work hard to ensure complete satisfaction when purchasing tickets to your favorite events.</p>
      </div>
      <div class="small-12 medium-3 large-4 columns">
        <i class="fi-map big"></i>
        <p class="gotham-regular">+33 (401)-757-5458</p>
        <p class="gotham-regular">info@ticket-finders.com</p>
        <p class="gotham-regular">1272 Rue de la something, Nice, France</p>
      </div>
      <div class="small-6 medium-3 large-2 columns">
        <h4 class="gotham-regular">INFORMATION</h4>
          <h5 class="gotham-regular"><%= link_to 'Terms', static_terms_path %></h5>
          <h5 class="gotham-regular"><%= link_to 'Contact', new_message_path, data: { no_turbolink: true } %></h5>
          <h5 class="gotham-regular"><a href="#">FAQ's</a></h5>
      </div>
      <div class="small-6 medium-3 large-2 columns">
        <h4 class="gotham-regular">SOCIAL</h4>
          <h5><a href="#"><i class="fi-social-facebook small-icon"></i></a></h5>
          <h5><a href="#"><i class="fi-social-twitter small-icon"></i></a></h5>
          <h5><a href="#"><i class="fi-social-skype small-icon"></i></a></h5>
      </div>
    </div>
  </footer>

  </body>
</html>
